node_modules
dist
dist-ssr
.cypress
cypress/videos
cypress/screenshots
*.local
coverage
.vscode
.idea
android
ios
android/app/build
ios/DerivedData
ios/App/App/public
android/app/src/main/assets/public
